<!DOCTYPE html>
<html lang="en">

<head>
    <title>Daftar</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/css/matrix-login.css" />
    <link href="{{ base_url() }}/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'
    rel='stylesheet' type='text/css'>

</head>
<body>
    {% include 'templates/partials/flash.twig' %}
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="{{path_for('post.signup')}}"
        method="post">
        <div class="control-group normal_text">
            <h3><img src="{{ base_url() }}/assets/images/logo.jpg" alt="Reporting App" /></h3>
        </div>
        <div class="control-group  {{ errors.username ? 'has-error' : '' }}">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                    <input name="username" type="text"
                    value="{{ old.username}}" placeholder="Username" />
                    {% if errors.username %}
                    <span style="color:red;" class="help-inline">{{errors.username | first}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="control-group {{ errors.email ? 'has-error' : '' }}">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                    <input name="email" type="email"
                    value="{{ old.email}}" placeholder="Email" />
                    {% if errors.email %}
                    <span style="color:red;" class="help-inline">{{errors.email | first}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="control-group  {{ errors.password ? 'has-error' : '' }}">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input name="password" type="password"
                    value="{{ old.password}}" placeholder="Password" />
                    {% if errors.password %}
                    <span style="color:red;" class="help-inline">{{errors.password | first}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-login"></i>Buat akun
                </button>
            </span>
            <span class="pull-left">
                <a href="#" class="flip-link btn btn-primary" id="to-recover">
                    Verifikasi</a></span>
            <span style="color:#fff;"class="pull-right">
                Sudah punya akun? &nbsp&nbsp
                <a href="{{path_for('home')}}" class="flip-link btn btn-primary">Login
                </a>
            </span>
        </div>
    </form>
    <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">Silakan masukkan email anda. Kami akan
            mengirimi anda instruksi untuk menyetel ulang kata sandi.
        </p>

        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                <input type="text" placeholder="E-mail address" />
            </div>
        </div>

        <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">
                &laquo; Kembali login</a>
            </span>
            <span class="pull-right"><a class="btn btn-primary"/>Setel ulang</a>
            </span>
        </div>
    </form>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/matrix.login.js"></script>
</body>

</html>
