<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Admin</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/css/matrix-login.css" />
    <link href="{{ base_url() }}/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div id="loginbox">
        {% include 'templates/partials/flash.twig' %}

        <form id="loginform" class="form-vertical" action="{{path_for('post.login')}}"
        method="post">
        <div class="control-group normal_text">
            <h3><img src="{{ base_url() }}/assets/images/logo.jpg" alt="Login Admin" /></h3>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                    <input name="username" type="text" placeholder="Username" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input name="password" type="password" placeholder="Password" />
                </div>
            </div>
        </div>
        <div style="color:#fff; margin:0px 40px 10px 18px;" class="checkbox">
            <span class="">
                <button style="width:100%;" type="submit" class="btn btn-success">
                    <i class="fa fa-login"></i>Login</button></span>
        </div>
        <div style="color:#fff;" class="form-actions">
        </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/matrix.login.js"></script>
</body>
</html>
