{% extends 'templates/default.twig' %}

{% block title %} Profil {% endblock %}
{% block current %} Profil {% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <a class="list-group-item active main-color-bg">
                <span align="center" aria-hidden="true"></span><i class="fa fa-address-book-o"></i>&nbsp; Profil
            </a>
            <div class="box box-primary">
                <div style="padding-bottom:20px;"class="box-header">
                    <div id="panel1">
                        <div class="col-lg-4">
                            <br>
                            <img style="width:300px" class="img-thumbnail"
                            src="{{ base_url() }}/assets/images/{{user.image}}" alt="">
                            <br><br>
                            <div class="wrapper text-center">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-success">
                                        <a href="" data-toggle="modal" data-target="#foto"
                                        value="{{user.id}}" title="View Group Details"
                                        style="color:#fff;">
                                    <i class="fa fa-refresh"> Ubah foto</i></a>
                                </button>
                                <button type="button" class="btn btn-social-button btn-github">
                                    <a style="color:#fff;" href="{{ base_url() }}/user/profile/setting">
                                        <i class="fa fa-cogs"> Pengaturan</i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" style="margin-top:20px; padding-bottom:7px;">
                        <div style="margin: 0px;" class="widget-box">
                            <div class="widget-title">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#1"><b>Data diri</b></a></li>
                                    <li><a data-toggle="tab" href="#2"><b>Wali</b></a></li>
                                </ul>
                            </div>
                            <div style="padding-top:0px;" class="widget-content tab-content">
                                <div id="1" class="tab-pane active"><br>
                                    <b><div class="col-sm-4">Nama </div></b>{{user.name}}<br><br>
                                    <b><div class="col-sm-4">Username </div></b>{{user.username}}<br><br>
                                    <b><div class="col-sm-4">Email </div></b>{{user.email}}<br><br>
                                    <b><div class="col-sm-4">Jenis Kelamin </div></b>{{user.gender}}<br><br>
                                    <b><div class="col-sm-4">Alamat </div></b>{{user.address}}<br><br>
                                    <b><div class="col-sm-4">Telepon </div></b>{{user.phone}}<br><br>
                                    <b><div class="col-sm-4">Mulai Bergabung </div></b>{{user.created_at | date("j F Y")}}<hr>
                                </div>
                                <div id="2" class="tab-pane">
                                    <h4>Daftar Wali Anda
                                        <a class="btn btn-mini btn-bitbucket pull-right"
                                        href="{{ path_for('guard.search', {'search': 2 })}}">
                                        <i class="fa fa-plus"></i>&nbsp; Cari wali</a>
                                    </h4>
                                    <hr style="margin-top:20px;">
                                    {% for guard in guard %}
                                       <a href="#">
                                        {% if guard.image != null %}
                                            <img style="margin-right:17px;" width="100" height="100" alt="User"
                                            src="{{ base_url() }}/assets/images/{{ guard.image }}">
                                        {% else %}
                                            <img style="margin-right:17px;" width="100" height="100" alt="User"
                                            src="{{ base_url() }}/assets/images/avatar.png">
                                        {% endif %}
                                    </a>
                                    {{guard.username}}
                                        <span style="float: right; top: 1px; ">
                                            <div class="btn-group">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul style="left: -140px; top: 13px; " class="dropdown-menu">
                                                <!-- <li><a style="font-size: small" href="#"><i class="icon-fixed-width icon-pencil">
                                                     Lihat detail</i></a></li>-->
                                                <li class="divider"></li>
                                                <li><a style="font-size: small" href="{{ path_for('guard.delete', {'id': guard.id }) }}">
                                                    <i class="i"> Hapus wali</i></a></li>
                                            </ul>
                                        </div>
                                    </span><br><br>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="foto" class="modal fade" role="dialog" style="z-index:99999999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Ubah foto profil</h3>
            </div>
            <div class="modal-body" style="width:85%; text-align:center; margin:0 auto;">

            <!-- content goes here -->
            <form  action="{{path_for('user.change.image', {id:user.id})}}"
            method="POST" enctype="multipart/form-data" id="laporkan">
                {% if errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    Mohon mengisi form dengan benar
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-10">
                        <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                            <div id="image_preview" align="center"><img id="previewing"
                                src="{{ base_url() }}/assets/images/{{ user.image }}"
                                class="img-thumbnail" style="width:200px" >
                            </div><br />
                            <label>Pilih foto :</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <input type="file" id="file" class="form-control"
                                name="image" placeholder="Item image">
                                <input type="hidden" class="form-control" name="id" value="{{user.id}}">
                            </div>
                            {% if errors.image %}
                            <span class="help-block">{{errors.image | first}}</span>
                            {% endif %}<br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                             data-dismiss="modal"  role="button"><b>Close</b></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-hover-green">
                                <b>Ubah foto profil</b></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}
