{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Group {{group.name}} > Item belum dilaporkan {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <!-- <div style="padding-bottom:0px; padding-top:0px; background:#24272E;" class="panel-heading"> -->
                    <div class="widget-title span12">
                        <div class="btn-group btn-group-justified">
                            <a href="{{ base_url() }}/pic/items/group/reported" class="btn btn-primary active">Laporan</a>
                            <a href="{{ base_url()}}/pic/items/group" class="btn btn-primary">Tugas</a>
                          <a href="{{ base_url()}}/pic/group/member" class="btn btn-primary">Anggota</a>
                        </div>

                    <!-- </div> -->
                </div>
                <div class="panel-body" >
                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane active">

                            <span style="float:right; margin-top:5px;">
                                <div class="btn-group">
                                    <a class="btn  btn-mini btn-primary dropdown-toggle" data-toggle="modal" data-target="#create">
                                        <i class="icon-collapse"></i> Lainnya</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul style="font-size: larger" class="dropdown-menu">
                                        <li><a style="font-size: medium" href="{{ path_for('get.group.detail')}}">
                                            <i class="icon-fixed-width icon-pencil"> Info Grup</i></a>
                                        </li>
                                        <li><a style="font-size: medium" href="" data-toggle="modal" data-target="#squarespaceModal2">
                                            <i class="icon-fixed-width icon-search"> Pengaturan</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </span><br>
                            <div class="widget-content" style="padding:0px; margin-top:30px">
                                <ul style="padding-left:10px;" class="recent-posts">
                                    {% for item in items %}
                                    <hr style="height: 30px; border-style:solid; border-color: #8c8b8b;
                                    border-width: 1px 0 0 0; border-radius: 30px; margin:0px;">

                                        <div style="font-size:15px; margin-right:20px;" class="user-thumb">
                                            {% if item.reported_at == null and item.creator_image != null %}
                                            <img width="60" height="60" alt="User"
                                            src="{{ base_url() }}/assets/images/{{ item.creator_image }}">
                                            {% elseif item.reported_at != null and item.user_image != null %}
                                            <img width="60" height="60" alt="User"
                                            src="{{ base_url() }}/assets/images/{{ item.user_image }}">
                                            {% else %}
                                            <img width="60" height="60" alt="User"
                                            src="{{ base_url() }}/assets/images/avatar.png">
                                            {% endif %}

                                        </div>
                                        <span>
                                            <br>
                                            {% if item.reported_at == null  %}
                                            &nbsp&nbsp&nbsp<b>{{ item.creator }}</b>
                                            <i>melaporkan tugas</i> <b>{{ item.name}}</b>
                                            {% else %}
                                            &nbsp&nbsp&nbsp <b>{{ item.user }}</b>
                                            <i>melaporkan tugas</i> <b>{{ item.name }}</b>
                                            {% endif %}
                                        </span>

                                        <div class="article-post">
                                            <br><br>
                                        {% if item.image != null %}

                                        <img width="80%" style="max-width: 250px;"alt="Image item"
                                        src="{{ base_url() }}/assets/images/{{ item.image }}">
                                        <br><br>
                                        {% endif %}
                                        <p>{{ item.description }}</p>
                                         <p style="font-size: 10pt;"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                         {{ item.updated_at | date('j F Y | H:i')}}</p>
                                         <br><a href="{{ base_url() }}/pic/show/item/{{item.id}}" title="Lihat detail item"
                                         class="btn btn-primary btn-mini">{{ item.comment|length }} komentar</a>
                                         <hr style="height: 30px; margin-top: -11px; margin-bottom: 10px; border-style: solid;
                                         border-color: #8c8b8b; border-width: 0 0 1px 0; border-radius: 20px;">
                                    </div>

                                {% endfor %}
                                {% if items != null %}
                                <nav aria-label="...">
                                    <ul class="pager">
                                        <div class="pagination alternate">
                                            <ul>
                                                {% if pagination.current > 1 %}
                                                <li class="">
                                                    <a href="{{ base_url() }}/pic/items/group/reported?page={{ pagination.current - 1 }}">
                                                        Sebelumnya</a></li>
                                                        {% endif %}
                                                <li class="active"> <a>{{ pagination.current }}</a></li>
                                                {% if pagination.current < pagination.total_page %}
                                                <li class="">
                                                    <a href="{{ base_url() }}/pic/items/group/reported?page={{ pagination.current + 1 }}">
                                                        Selanjutnya</a></li>
                                                        {% endif %}
                                            </ul>
                                        </div>
                                    </ul>
                                </nav>
                                {% else %}
                                <center><em>Tidak ada laporan</em></center>
                                {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% for key, item in data %}

<!-- line modal items-->
<div class="modal fade" id="squarespaceModal" tabindex="-1"
 role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Tutup</span></button>
            <h3 class="modal-title" id="lineModalLabel">Form Tambah tugas</h3>
        </div>
        <div class="modal-body">

        <!-- content goes here -->
        <form  action="{{ base_url() }}/items/{{group.id}}"
         method="POST" enctype="multipart/form-data">
            {% if errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">x</a>
                Form hars diisi
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                        <label for="name">Nama :</label>
                        <input type="text" name="name" class="form-control">
                        {% if errors.name %}
                        <span class="help-block">{{ errors.name | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                        <label for="description">Deskripsi :</label>
                        <input type="text" name="description" class="form-control">
                        {% if errors.description %}
                        <span class="help-block">{{ errors.description | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group {{ errors.public ? 'has-error' : '' }}">
                        <label for="public">Privasi :</label>
                        <select class="form-control" name="public" >
                            <option value="">Pilih privasi</option>
                            <option value="0">Publik</option>
                            <option value="1">Privat</option>
                        </select>
                        {% if errors.public %}
                        <span class="help-block">{{ errors.public | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.recurrent ? 'has-error' : '' }}">
                        <label for="recurrent">Pengulangan :</label>
                        <select class="form-control" name="recurrent" value="">
                            <option value="">Tanpa pengulangan</option>
                            <option value="harian">Harian</option>
                            <option value="mingguan">Mingguan</option>
                            <option value="bulanan">Bulanan</option>
                            <option value="tahunan">Tahunan</option>
                        </select>
                        {% if errors.recurrent %}
                        <span class="help-block">{{ errors.recurrent | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group {{ errors.start_date ? 'has-error' : '' }}">
                        <label for="start_date">Tanggal mulai :</label>
                        <input type="date" name="start_date" class="form-control">
                        {% if errors.start_date %}
                        <span class="help-block">{{ errors.start_date | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger"
                         data-dismiss="modal" role="button">Tutup</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary btn-hover-green">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>


<div id="{{item.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Tutup</span></button>
                <h3 class="modal-title" id="lineModalLabel">Form laporan tugas</h3>
            </div>
            <div class="modal-body">

            <!-- content goes here -->
            <form  action="{{path_for('report.item', {item:item.id})}}"
            method="POST" enctype="multipart/form-data" id="laporkan">
                {% if errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    Mohon mengisi form dengan benar
                </div>
                {% endif %}
                <div class="row" style="margin-left:45px;">
                    <div class="col-xs-12 col-sm-6 col-md-10">
                        <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                            <center>Foto :</center>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <input type="file" id="file" class="form-control"
                                name="image" placeholder="Item image">
                            </div>
                            {% if errors.image %}
                            <span class="help-block">{{errors.image | first}}</span>
                            {% endif %}<br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                            <label for="description">Deskripsi :</label>
                            <textarea rows="5" name="description" class="form-control"
                            value="{{ item.description }}">{{ item.description }}</textarea>
                                    <!-- <input type="text" name="description" class="form-control" id="coba"> -->
                            <input type="hidden" id="data-id" name="item_id"
                             value="{{ item.id }}">

                            {% if errors.description %}
                            <span class="help-block">{{ errors.description | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-10 col-sm-5 col-md-12">
                        <div class="form-group {{ errors.public ? 'has-error' : '' }}">
                            <label for="public">Item to :</label>
                            <select class="form-control" name="public" >
                                <option value="">Select Group</option>
                                <option value="0">Public</option>
                                <option value="1">Private</option>

                            </select>
                            {% if errors.public %}
                            <span class="help-block">{{ errors.public | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                             data-dismiss="modal"  role="button"><b>Tutup</b></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-hover-green">
                                <b>Laporkan</b></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- line modal report -->

{% endfor %}

{% endblock %}
