{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Group {{group.name}} > Item belum dilaporkan {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <!-- <div style="padding-bottom:0px; padding-top:0px; background:#24272E;" class="panel-heading"> -->
                    <div class="widget-title span12">
                        <div class="btn-group btn-group-justified">
                          <a href="{{ base_url()}}/pic/group/{{group}}/member" class="btn btn-primary">Anggota</a>
                          <a href="{{ base_url()}}/pic/items/group/{{group}}" class="btn btn-primary">Tugas</a>
                          <a href="{{ base_url() }}/pic/items/group/{{group}}/reported" class="btn btn-primary active">Laporan</a>
                        </div>

                    <!-- <span style="float:right; margin-top:5px;">
                        <div class="btn-group span4">
                            <a class="btn btn-primary"><i class="icon-collapse"></i> Lainnya</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-fixed-width icon-pencil">
                                     Buat tugas</i></a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="i"> Lihat semua tugas</i></a></li>
                            </ul>
                        </div>
                    </span> -->
                    <br>
                    <i style="font-size:24px; margin:0px 0px 10px 0px" class="fa " aria-hidden="true">
                        &nbsp Member Grup </i>
                    </div>
                <!-- </div> -->
                <div class="panel-body" style="padding-top:0px; margin-top:0px">
                    <div class="widget-content tab-content">
                        <div class="widget-content" style="padding:20px;">
                            <ul style="padding-left:10px;" class="recent-posts">
                                {% for item in items %}
                                <hr style="height: 30px; border-style:solid; border-color: #8c8b8b;
                                border-width: 1px 0 0 0; border-radius: 30px; margin:0px;">

                                <div style="font-size:15px; margin-right:20px;" class="user-thumb">
                                    {% if item.reported_at == null and item.creator_image != null %}
                                    <img width="60" height="60" alt="User"
                                    src="{{ base_url() }}/assets/images/{{ item.creator_image }}">
                                    {% elseif item.reported_at != null and item.user_image != null %}
                                    <img width="60" height="60" alt="User"
                                    src="{{ base_url() }}/assets/images/{{ item.user_image }}">
                                    {% else %}
                                    <img width="60" height="60" alt="User"
                                    src="{{ base_url() }}/assets/images/avatar.png">
                                    {% endif %}

                                </div>
                                <span>
                                    <br>
                                    {% if item.reported_at == null  %}
                                    &nbsp&nbsp&nbsp<b>{{ item.creator }}</b>
                                    <i>melaporkan tugas</i> <b>{{ item.name}}</b>
                                    {% else %}
                                    &nbsp&nbsp&nbsp <b>{{ item.user }}</b>
                                    <i>melaporkan tugas</i> <b>{{ item.name }}</b>
                                    {% endif %}
                                </span>


                                <div class="article-post">

                                    <br>
                                    <!-- {% if item.reported_at == null %}
                                    <span style="font-size: 14pt;" class="user-info"> <b>
                                    <span class="label label-warning">{{ item.name }}
                                </span>&nbsp > &nbsp
                                <span class="label label-success">{{ item.group_name }}
                            </span></b>
                        </span>
                        {% else %}
                        <span style="font-size: 14pt;" class="user-info"> <b>
                        <span class="label label-warning">{{ item.name }}
                    </span>&nbsp > &nbsp
                    <span class="label label-success">{{ item.group_name }}
                </span></b>
            </span>
            {% endif %}-->
            <br>

            <br>
            <!-- <div style="margin-top:40px" class=""> -->
            {% if item.image != null %}

            <img width="80%" style="max-width: 300px;"alt="Image item"
            src="{{ base_url() }}/assets/images/{{ item.image }}">
            <br><br>
            {% endif %}
            <!-- </div> -->
            <p>{{ item.description }}</p>
            <p style="font-size: 10pt;"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ item.updated_at | date('j F Y | H:i')}}</p>
                <br><a href="{{ base_url() }}/pic/show/item/{{item.id}}" title="Lihat detail item"
                class="btn btn-primary btn-mini">{{ item.comment|length }} komentar</a>
                <hr style="height: 30px; margin-top: -11px; margin-bottom: 10px; border-style: solid;
                border-color: #8c8b8b; border-width: 0 0 1px 0; border-radius: 20px;">
            </div>
            <!-- </li> -->

            {% endfor %}
            {% if items != null %}
            <nav aria-label="...">
                <ul class="pager">
                    <div class="pagination alternate">
                        <ul>
                            <li class="{% if pagination.current <= 1 %}disabled{% endif %}">
                                <a href="{{ base_url() }}/pic/items/group/{{ group}}/reported?page={{ pagination.current - 1 }}">
                                    Sebelumnya</a></li>
                            <li class="active"> <a>{{ pagination.current }}</a></li>
                            <li class="{% if pagination.current == pagination.total_page %}disabled{% endif %}">
                                <a href="{{ base_url() }}/pic/items/group/{{ group}}/reported?page={{ pagination.current + 1 }}">
                                    Selanjutnya</a></li>
                            </ul>
                        </div>
                    </ul>
                </nav>
                {% else %}
                <center><em>Tidak ada laporan</em></center>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% for key, item in data %}

<!-- line modal items-->
<div class="modal fade"  style="z-index:99999999999" id="squarespaceModal" tabindex="-1"
 role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Tutup</span></button>
            <h3 class="modal-title" id="lineModalLabel">Form Tambah tugas</h3>
        </div>
        <div class="modal-body">

        <!-- content goes here -->
        <form  action="{{ base_url() }}/items/{{group.id}}"
         method="POST" enctype="multipart/form-data">
            {% if errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">x</a>
                Form hars diisi
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                        <label for="name">Nama :</label>
                        <input type="text" name="name" class="form-control">
                        {% if errors.name %}
                        <span class="help-block">{{ errors.name | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                        <label for="description">Deskripsi :</label>
                        <input type="text" name="description" class="form-control">
                        {% if errors.description %}
                        <span class="help-block">{{ errors.description | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group {{ errors.public ? 'has-error' : '' }}">
                        <label for="public">Privasi :</label>
                        <select class="form-control" name="public" >
                            <option value="">Pilih privasi</option>
                            <option value="0">Publik</option>
                            <option value="1">Privat</option>
                        </select>
                        {% if errors.public %}
                        <span class="help-block">{{ errors.public | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="form-group {{ errors.recurrent ? 'has-error' : '' }}">
                        <label for="recurrent">Pengulangan :</label>
                        <select class="form-control" name="recurrent" value="">
                            <option value="">Tanpa pengulangan</option>
                            <option value="harian">Harian</option>
                            <option value="mingguan">Mingguan</option>
                            <option value="bulanan">Bulanan</option>
                            <option value="tahunan">Tahunan</option>
                        </select>
                        {% if errors.recurrent %}
                        <span class="help-block">{{ errors.recurrent | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group {{ errors.start_date ? 'has-error' : '' }}">
                        <label for="start_date">Tanggal mulai :</label>
                        <input type="date" name="start_date" class="form-control">
                        {% if errors.start_date %}
                        <span class="help-block">{{ errors.start_date | first }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger"
                         data-dismiss="modal" role="button">Tutup</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary btn-hover-green">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>


<div id="{{item.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Tutup</span></button>
                <h3 class="modal-title" id="lineModalLabel">Form laporan tugas</h3>
            </div>
            <div class="modal-body">

            <!-- content goes here -->
            <form  action="{{path_for('report.item', {item:item.id})}}"
            method="POST" enctype="multipart/form-data" id="laporkan">
                {% if errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    Mohon mengisi form dengan benar
                </div>
                {% endif %}
                <div class="row" style="margin-left:45px;">
                    <div class="col-xs-12 col-sm-6 col-md-10">
                        <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                            <center>Foto :</center>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <input type="file" id="file" class="form-control"
                                name="image" placeholder="Item image">
                            </div>
                            {% if errors.image %}
                            <span class="help-block">{{errors.image | first}}</span>
                            {% endif %}<br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                            <label for="description">Deskripsi :</label>
                            <textarea rows="5" name="description" class="form-control"
                            value="{{ item.description }}"> {{ item.description }}
                            </textarea>
                            <!-- <input type="text" name="description" class="form-control" id="coba"> -->
                            <input type="hidden" id="data-id" name="item_id"
                             value="{{ item.id }}">

                            {% if errors.description %}
                            <span class="help-block">{{ errors.description | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-10 col-sm-5 col-md-12">
                        <div class="form-group {{ errors.public ? 'has-error' : '' }}">
                            <label for="public">Item to :</label>
                            <select class="form-control" name="public" >
                                <option value="">Select Group</option>
                                <option value="0">Public</option>
                                <option value="1">Private</option>

                            </select>
                            {% if errors.public %}
                            <span class="help-block">{{ errors.public | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                             data-dismiss="modal"  role="button"><b>Tutup</b></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-hover-green">
                                <b>Laporkan</b></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- line modal report -->

{% endfor %}

{% endblock %}
