
{% extends 'templates/default.twig' %}

{% block title %} Group {% endblock %}

{% block current %} Hasil Pencarian {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="margin-top:0px;">
            <div style="background:#ffffff" class="">
                <div style="padding-bottom:0px; padding-top:0px; background:#24272E;" class="panel-heading">
                    <div class="widget-title span8">
                    <ul style="text-align:center" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">
                        {% if pagination.total_data == 0 %}
                        <i> Hasil Pencarian</i>
                        {% else %}
                        <i>{{ pagination.total_data }} pengguna ditemukan</i>
                        {% endif %}

                         </a></li>
                    </ul>

                    </div>
                </div>
                <div class="panel-body" style="padding-top:40px;">
                    <div class="widget-content tab-content">
                        <div class="col-lg-12">
                            <form class="" action="{{ path_for('web.pic.search.user')}}" method="get">
                                <div class="input-group" style="padding-bottom:20px">
                                    <input type="text" name="search" class="form-control" placeholder="No HP atau Nama"><br>
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-primary" type="submit">Cari</button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <div id="tab1" class="tab-pane active">
                            <form class="" action="{{ path_for('web.pic.set.member')}}" method="post">
                            <div class="row">
                            	{% for user in users %}
                            		<div class="col-sm-2 col-md-3">
                            			<div class="panel box-body">
                            			<center><a href="#"><img src="{{ base_url() }}/assets/images/{{ user.image }}"
                            				 height="151" width="151" style="margin-bottom:5px"></a></center>
                                             <center>
                                                 <div class="col-lg-12" style="margin:0 auto; position:relative;">

                                                 <span class="text-center">
                                                     {% if user.name == null %} Anonim
                                                     {% else %}
                                                     {{user.name}}
                                                     {% endif %}
                                                     {% if user.phone == null %} <p> <i class="fa fa-phone" aria-hidden="true"></i> +62XXXXXXXXX<br>
                                                  </p>
                                                     {% else %}
                                                     <p> <i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}<br>
                                                  </p>
                                                     {% endif %}
                                                 </span>
                            			  	<!-- <div class="btn btn-primary" style="padding:0">
                                                <div class="col-lg-12" style="padding-top:4px; padding-bottom:4px"> -->
                                                <input type="hidden" name="group_id" value="{{ group }}">

                                                    <p class="text-center">
                                                        <button type="submit" class="btn btn-primary  " name="user_id" value="{{ user.id }}">Tambahkan</button>
                                                    </p>
                                                <!-- </div> -->
                            			  	<!-- </div> -->
                                        </center>
                                    <!-- </div> -->
                            			</div>
                            	  	</div>
                                    {% endfor %}
                                </form>

                            </div>
                            </div>
                        </div>
                    </div>
                {% if users != null %}
                    <nav aria-label="...">
                        <ul class="pager">
                            <div class="pagination">
                                <ul>
                                    <li class="{% if pagination.current == 1 %}disabled{% endif %}">
                                        <a href="{{ base_url() }}/pic/search/user?search={{ search }}&group={{ group }}&page={{ pagination.current - 1 }}">
                                            Sebelumnya</a></li>
                                            <li class="active"> <a>{{ pagination.current }}</a></li>
                                            <li class="{% if pagination.current == pagination.total_page %}disabled{% endif %}">
                                                <a href="{{ base_url() }}/pic/search/user?search={{ search }}&group={{ group }}&page={{ pagination.current + 1 }}">
                                                    Selanjutnya</a></li>
                                                </ul>
                                            </div>
                                        </ul>
                                    </nav>
                {% else %}
                    <center><em> Pengguna tidak ditemukan </em></center>
                    <br>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}
